doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="author",content="Fayek Helmi")
    link(rel="icon",href="../../favicon.ico")
    title 256KLABS.com | Official
    // enter your own stylesheet location here ---
    link(href="https://fonts.googleapis.com/css?family=Montserrat|Raleway:300,400,500,700" rel="stylesheet")
    link(rel='stylesheet', href='css/master.css')
  
  body
    .titlebar
        h1 256K LABS
    .contentwrapper
        .componentBox
            .componentTitle
                h2 ABOUT
            .componentContent
                .textwrapper
                    p Welcome to 256k Labs! I’m Fayek Helmi. I’m a <strong>Front-End web developer</strong> who also loves to dabble in DIY electronics and music.<br/><br/>I like to use <strong>Jade, Sass and javascript</strong> to build websites and web apps.<br/><br/>I also like checking out github repos and throw in the odd fix here or there.<br/><br/> <strong>Atom</strong> is my text editor of choice. I love it. 
                    img(src="assets/me6.jpg", alt="me?")
        .componentBox
            .componentTitle
                h2 WORK
            .componentContent
                .workwrapper
                    .workbox
                        a(href="http://codepen.io/fayekhelmi/" target="_blank")
                            img(src="assets/codepen.jpg")
                        p Codepen is a great place to experiment and save little code snippets. You can check mine out <a href="http://codepen.io/fayekhelmi/" target="_blank">here.</a>
                    .workbox
                        a(href="https://github.com/256k" target="_blank")
                            img(src="assets/github.jpg")
                        p Most of my projects will be hosted on Github. you can check out my repos <a href="https://github.com/256k" target="_blank">here.</a>
                    .workbox
                        a(href="http://www.256klabs.com/old/index.html" target="_blank")
                            img(src="assets/web.jpg")
                        p Finished websites that I have built completely or worked on as part of a team. Get the list <a id="link" title="UNDER CONTRSTUCTION" href="http://www.256klabs.com/old/index.html">Here.</a>
        .componentBox
            .componentTitle
                h2 CONTACT
            .componentContent
                .contactwrapper
                    .contactbox
                        p Get in touch for any:
                        ul 
                            li Web Development work 
                            li Arduino Projects
                            li DIY electronics projects 
                            li Music production and performance
                            li General questions about technology and life
                        p at: <a href="mailto:fayek.helmi@gmail.com">fayek.helmi@gmail.com</a>
                        p.links <a href="http://www.256klabs.com/cv/FayekHelmi-GenCV2016.html" target="_blank">Resumé (CV)</a> | <a href="https://www.facebook.com/fayek.helmi" target="_blank">Facebook</a> | <a href="https://twitter.com/fayek" target="_blank">Twitter</a> | <a href="https://www.youtube.com/user/fayekhelmi" target="_blank">Youtube</a> | <a href="https://www.instagram.com/fayek/" target="_blank">Instagram</a> | <a href="https://github.com/256k" target="_blank">Github</a> | <a href="http://codepen.io/fayekhelmi/" target="_blank">Codepen</a> | <a href="https://soundcloud.com/theskyis256k" target="_blank">Soundcloud</a> | <a href="https://www.mixcloud.com/fayekhelmi/" target="_blank">Mixcloud</a> | <a href="https://256k.bandcamp.com/" target="_blank">Bandcamp</a>
    

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  script(src='js/master.js')
