doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="author",content="Fayek Helmi")
    link(rel="icon",href="../../favicon.ico")
    title 256KLABS.com | Official
    // enter your own stylesheet location here ---
    link(href="https://fonts.googleapis.com/css?family=Montserrat|Raleway:300" rel="stylesheet")
    link(rel='stylesheet', href='css/master.css')
  
  body
    .titlebar
        h1 256K LABS
    
    
    
    
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  script(src='js/master.js')
