doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="author",content="Fayek Helmi")
    link(rel="icon",href="../../favicon.ico")
    title 256KLABS.com | Official
    // enter your own stylesheet location here ---
    link(href="https://fonts.googleapis.com/css?family=Montserrat|Raleway:300,400,500,700" rel="stylesheet")
    link(rel='stylesheet', href='css/master.css')
  
  body
    .titlebar
        h1 256K LABS
    .contentwrapper
        .componentBox
            .componentTitle
                h2 ABOUT
            .componentContent
                .textwrapper
                    p Welcome to 256k Labs! I’m Fayek Helmi. I’m a <strong>Front-End web developer</strong> who also loves to dabble in DIY electronics and music.<br/>I like to use <strong>Jade, Sass and javascript</strong> to build websites and web apps.<br/>I also like checking out github repos and throw in the odd fix here or there.<br/> <strong>Atom</strong> is my text editor of choice. I love it. 
                    img(src="http://fillmurray.com/400/400", alt="me?")
        .componentBox
            .componentTitle
                h2 WORK
            .componentContent
                .workwrapper
                    .workbox
                        img(src="assets/codepen.png")
                        p Codepen is a great place to experiment and save little projects and code snippets. You can check out my snippest <a href="http://codepen.io/fayekhelmi/" target="_blank">Here.</a>
                    .workbox
                        img(src="assets/github.png")
                        p Most of my projects will be hosted on Github. you can check out my repositores <a href="https://github.com/256k" target="_blank">Here.</a>
                    .workbox
                        img(src="assets/web.png")
                        p Live websites that i've either built completely or work on part of a team. Get the list <a href="#">Here.</a>
        .componentBox
            .componentTitle
                h2 CONTACT
            .componentContent
                p Lorem 
    

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  script(src='js/master.js')
