$MainColor: rgb(70, 44, 88)

*
    font-family: 'Raleway', sans-serif
    user-select: none
h1, h2, h3, h4, h5, h6
    font-family: 'Montserrat', sans-serif

a
    text-decoration: none
    color: rgb(104, 67, 129)
    margin: inherit
    padding: inherit
    transition: 0.3s
a:hover
    color: rgb(156, 95, 198)
p, li
    font-size: 18px
    line-height: 1.5
    color: #444
ul, li
    list-style: none
    color: #444
    line-height: 1.5em
    padding: 0
