$MainColor: rgb(70, 44, 88)

*
    font-family: 'Raleway', sans-serif
    user-select: none
h1, h2, h3, h4, h5, h6
    font-family: 'Montserrat', sans-serif

a
    text-decoration: none
    color: $MainColor
    margin: inherit
    padding: inherit
p
    font-size: 18px
    line-height: 1.5
    color: #555
